/* CSS SPECIFIC TO ABOUT.HTML*/

:root {
    --bg-primary: #1C0F2E;
    --bg-secondary: #452f66;
    --text-primary: #F9F6FF;
    --colour-primary: #321C52;
    --colour-accent: #FFD94C;
    --shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    --card-radius: 20px;
}

.about-bio {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-bio-text {
    margin-left: 30px;
    margin-right: 30px;
}

.about-quote {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: italic;
}

.about-quote q {
    font-size: 1.2rem;
}

.about-quote q::before,
.about-quote q::after {
    color: var(--colour-accent)
}

.about-timeline {
    grid-column: 1 / -1;
    min-height: 200px;
}

.about-skills {
    grid-column: 1 / 2;
}

.about-skills h3 {
    margin-top: 20px;
}

.about-interests {
    grid-column: 2 / 3;
}

.about-pic-container {
    display: block;
    grid-column: 2 / 3;
    width: 100%;
    aspect-ratio: 1 / 1.5;
    padding: 0;
    overflow: hidden;
    border-radius: var(--card-radius);
    position: relative;
}

.about-pic-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.date-badge {
    background-color: var(--colour-primary);
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    margin-bottom: 5px;
    display: inline-block;
}

.skill-tag-box {
    margin: 10px;
}

.skill-tag {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid var(--colour-accent);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
    font-size: 0.9rem;
}

.hover-card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    border-color: var(--colour-accent);
}

.socials {
    margin-bottom: 50px;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* font-style: italic; */
}

#socials-content a {
    padding: 10px;
}

@media (max-width: 900px) {

    .about-bio,
    .about-quote,
    .about-timeline,
    .about-skills,
    .about-interests {
        grid-column: 1 / -1;
    }

    .about-pic-container {
        grid-column: 1 / -1;
        aspect-ratio: 1 / 1;
        max-height: 400px;
    }
}